@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --font1: 'Geologica', sans-serif;
    --font2: 'Roboto', sans-serif;
}

main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-family: var(--font2);
    /* overflow: hidden; */
}
/* Particulas */
.bg_particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
/* Cabecera */
.header {
    width: 100%;
    display: flex;
    padding: 2em 3em;
    border-bottom: 1px solid #f6f6f6;
    backdrop-filter: blur(10px);
}

.header .header__icon {
    font-size: 4.3em;
    margin: 0 10px;
}

.header h2 {
    font-size: 2.5em;
}
/* Tarjetas */
.laboratorio {
    width: 100%;
    height: auto;
    padding: 30px 0;
}

.laboratorio .title {
    font-size: 2.2em;
    font-weight: 700;
    text-align: center;
}

.cards {
    position: relative;
    margin: 30px 0;
}
  
.cards__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5em;
}
  
.card {
    position: relative;
    --flow-space: 0.5em;
    --hsl: 230, 80%, 50%;
    width: 410px;
    height: 300px;
    padding: 1.5em 2em;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    align-items: start;
    color: #020016;
    background: #ffffff;
    border: 1px solid #d4ceff;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #e0e0e0;
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.card__heading {
    z-index: 100;
}

.card__desc {
    color: #6d6d6d;
}

.card__icon {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #ecebf2;
    font-size: 4em;
    transform: rotate(335deg);
    z-index: 10;
    transition: .2s;
}

.card__content {
    margin: 10px 0;
}
  
.cta {
    display: block;
    align-self: end;
    margin: 1em 0 0.5em 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #0d0d0d;
    padding: 0.7em;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
}
  
.overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    user-select: none;
    opacity: var(--opacity, 0);
    -webkit-mask: radial-gradient(
      25rem 25rem at var(--x) var(--y),
      #000 1%,
      transparent 50%
    );
    mask: radial-gradient(
      25rem 25rem at var(--x) var(--y),
      #000 1%,
      transparent 50%
    );
    transition: 400ms mask ease;
    will-change: mask;
}
  
.overlay .card {
    background-color: hsla(var(--hsl), 0.15);
    border-color: hsla(var(--hsl), 1);
    box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}
  
.overlay .cta {
    display: block;
    grid-row: -1;
    width: 100%;
    background-color: hsl(var(--hsl));
    box-shadow: 0 0 0 1px hsl(var(--hsl));
}
  
:not(.overlay) > .card {
    transition: 400ms background ease;
    will-change: background;
}
  
:not(.overlay) > .card:hover {
    --lightness: 95%;
    background: hsla(var(--hsl), 0.1);
}
/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 30px;
}
/* Responsive Design */
@media (max-width: 480px) {
    .header {
        padding: 1em 0.5em;
    }

    .header .header__icon {
        font-size: 4em;
        margin: 5px;
    }
}